* {
	margin: 0;
	padding: 0;
}

:root {
	font-size: 62.5%;
	--mobile-rotulo: 1.0rem;
	--mobile-cabecalho-6: 1.2rem;
	--mobile-cabecalho-5: 1.6rem;
	--mobile-cabecalho-4: 2.0rem;
	--mobile-cabecalho-3: 2.5rem;
	--mobile-cabecalho-2: 3.0rem;
	--mobile-cabecalho-1: 3.5rem;

	--desktop-rotulo: 1.2rem;
	--desktop-cabecalho-6: 1.6rem;
	--desktop-cabecalho-5: 2.0rem;
	--desktop-cabecalho-4: 2.5rem;
	--desktop-cabecalho-3: 3.0rem;
	--desktop-cabecalho-2: 4.0rem;
	--desktop-cabecalho-1: 5.0rem;

	--purpleColor: #9627A8;
	--greenColor: #39A827;

	--roxo-50: #F5E9F6;
	--roxo-300: #b96ec5;
	--roxo-500: #9627A8;
	--roxo-700: #6B1C77;
	--roxo-900: #3F1047;

	--verde-50: #f0f6e9;
	--verde-300: #9bc56e;
	--verde-500: #6aa827;
	--verde-700: #4b771c;
	--verde-900: #2d4710;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: var(--mini);
}