#cadastro {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
}

#cadastro div {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
}

#cadastro div a {
	text-decoration: none;
	outline: none;
}

#cadastro div a:focus {
	border: 2px solid var(--roxo-700);
}

#cadastro div a:hover {
	color: var(--roxo-50);
}

#cadastro div form {
	display: flex;
	flex-direction: column;
	gap: 1rem;

}

#cadastro div h1 {
	color: var(--verde-500);
	font-family: roboto;
}

#cadastro div form label {
	color: var(--roxo-700);
	font-weight: 600;
}

#cadastro div form input[type="text"],
#cadastro div form input[type="email"],
#cadastro div form input[type="password"] {
	background-color: var(--roxo-50);
	color: var(--roxo-500);
}

#cadastro div form input[type="text"]:focus,
#cadastro div form input[type="password"]:focus {
	background-color: var(--roxo-50);
	color: var(--roxo-500);
}

#cadastro div form input {
	outline: none;
	font-weight: 600;
	height: 56px;
	border: none;
	border-radius: 5px;
}

#cadastro div form input:focus {
	border: 2px solid var(--roxo-700);

}

#cadastro div form input:last-child {
	background-color: var(--verde-500);
	color: #FFF;
	margin: 4rem 0 2rem 0;
}

#cadastro div form input:last-child:hover {
	cursor: pointer;
	background-color: var(--verde-300);
	color: var(--verde-50);
	margin: 4rem 0 2rem 0;
}

@media screen and (max-width: 700px) {
	#cadastro div h1 {
		font-size: var(--mobile-cabecalho-2)
	}

	#cadastro div a {
		font-size: var(--mobile-cabecalho-5);
	}

	#cadastro div form {
		width: 90%;
	}

	#cadastro div form label {
		font-size: var(--mobile-cabecalho-4);
	}

	#cadastro div form input {
		padding: 0 var(--mobile-cabecalho-6);
		font-size: var(--mobile-cabecalho-5);
	}

	#cadastro div form input:last-child {
		font-size: var(--mobile-cabecalho-4);
	}
}

@media screen and (min-width: 701px) and (max-width: 999px) {
	#cadastro div h1 {
		font-size: var(--desktop-cabecalho-3)
	}

	#cadastro div form {
		width: 60%;
	}

	#cadastro div a {
		font-size: var(--desktop-cabecalho-5);
	}

	#cadastro div form label {
		font-size: var(--desktop-cabecalho-4);
	}

	#cadastro div form input {

		padding: 0 var(--desktop-cabecalho-6);
		font-size: var(--desktop-cabecalho-5);
	}

	#cadastro div form input {
		height: 56px;
		border: none;
		border-radius: 5px;
	}
}

@media screen and (min-width: 1000px) {
	#cadastro div h1 {
		font-size: var(--desktop-cabecalho-3)
	}

	#cadastro div form {
		width: 30%;
	}

	#cadastro div a {
		font-size: var(--desktop-cabecalho-5);
	}

	#cadastro div form label {
		font-size: var(--desktop-cabecalho-4);
	}

	#cadastro div form input {

		padding: 0 var(--desktop-cabecalho-6);
		font-size: var(--desktop-cabecalho-5);
	}

	#cadastro div form input {
		height: 56px;
		border: none;
		border-radius: 5px;
	}
}